:root {
  --maincolor: burlywood;
  --browncolor: rgb(240, 234, 234, 0.8);
  --shadow: rgb(211, 193, 193);
  --bodycolor: rgba(245, 250, 250, 0.897);
}
section div ul li a:hover {
  color: rgb(127, 128, 233);
}
section div ul li {
  background-color: rgb(211, 231, 99);
  width: 11rem;
}
section div ul li a {
  font-weight: bold;

  color: red;
  border-radius: 15px;
}
.h-two {
  width: 80%;
  text-align: center;
  background-color: rgb(249, 250, 251);
  height: 4em;
  padding-top: 1em;
  margin-top: 6rem;
  border-radius: 10px;
}
.h-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon:hover {
  color: red;
}
.h-two h2 {
  color: rgb(10, 5, 61);
}

.container1 {
  border: 1px solid var(--browncolor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas:
    "browser-nav browser-nav"
    "browser-img browser-do";
}

.browser-nav {
  grid-area: browser-nav;
  border: 1px solid var(--browncolor);
  border-radius: 0 0 5px 5px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--browncolor);
}
.browser-dot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browser-img {
  grid-area: browser-img;
}

.portfilio-pcs {
  display: block;
  margin: 0 auto;
  margin-top: 25px;

  width: 120px;
  height: 180px;
  object-fit: cover;
}

.browser-do {
  grid-area: browser-dot;
  display: grid;
  justify-items: center;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 50px;
}

.shadow {
  width: 200px;
  height: 100px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: var(--shadow);
  border-radius: 20px;
}

.whatIdo {
  border: 2px solid var(--browncolor);
  width: 200px;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--browncolor);
  position: relative;
}
.whatIdo p {
  color: black;
}

.dott {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: antiquewhite;
  border: 2px solid blueviolet;
  position: absolute;
}

#dott1 {
  top: -5px;
  left: -5px;
}

#dott2 {
  top: -5px;
  right: -5px;
}
#dott3 {
  bottom: -5px;
  left: -5px;
}
#dott4 {
  bottom: -5px;
  right: -5px;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin: 3px;
}

.dottedTheme {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#d1 {
  background-color: white;
  border: 2px solid brown;
}
#d2 {
  background-color: rgb(21, 21, 48);
  border: 2px solid brown;
}
#d3 {
  background-color: green;
  border: 2px solid brown;
}
#d4 {
  background-color: rgb(222, 225, 12);
  border: 2px solid rgb(77, 18, 18);
}

.dotted {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 3px;
  transition: transform 500ms ease-in-out;
}
.dotted:hover {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 3px;
}

#dot1 {
  background-color: red;
}
#dot2 {
  background-color: yellow;
}
#dot3 {
  background-color: green;
}

.style {
  font-style: italic;
  text-transform: lowercase;
  margin: 3px 50px 0 50px;
  text-align: center;
}

@media (max-width: 700px) {
  .container1 {
    grid-template-columns: 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
      "browser-nav"
      "browser-img"
      "browser-dot";
  }

  .browser-do {
    justify-content: center;
  }
  .about-wrapper {
    justify-content: center;
    align-items: center;
  }
  .about-wrapper .about-me p,
  h4 {
    text-align: center;
    font-size: 0.8rem;
  }
  .browser-dot {
    padding-bottom: 5rem;
  }
  .h-two {
    height: 6rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 300px) {
  .h-two {
    height: 8rem;
  }
}
@media (max-width: 600px) {
  .items-wrapper {
    grid-template-columns: 1fr;
  }
  .prj-title {
    font-size: 1.5rem;
  }
}
